.nav__container {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  background-color: var(--block-background-color);
  border-radius: var(--block-border-radius);
  color: var(--primary-color);
  font-size: 1.5rem;
  font-weight: 500;
  font-family: var(--primary-font);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease-in-out;
  margin-top: 1rem;
}
.rocketnav__link {
  color: #fff;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 500;
  font-family: var(--primary-font);
  letter-spacing: 0.1rem;
  padding: 0.5rem;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease-in-out;
  background-image: url("/Spacex_rocket.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: var(--block-border-radius);
  width: 300px;
  height: 96px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.rocketnav__link:hover {
  color: #f00;
  filter: drop-shadow(0 0 0.75rem #3333);
}
.nav__container ul {
  display: flex;
  flex-direction: column;
  gap: 5px;
  flex: 1 1 100%;
  align-items: flex-start;
  padding: 5px;
}
